@layer components {
  .skip-link {
    padding: 1em;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid;
    background-color: #ffffff;

    &:not(:focus) {
      position: absolute;
      width: 1px;
      height: auto;
      margin: 0;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      clip: rect(0 0 0 0);
      border: 0;
    }

    &:focus {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;
    }

    &:focus:not(:hover) {
      outline: 1px dotted;
      outline-offset: -0.5em;
    }
  }
}
