<div style="display:grid;row-gap:1em;padding-block-end:1.5em;">
  <div style="font-weight:bold;font-size:16px;">Footnote #{{ element.sortOrder }} | URL: <span style="font-family:monospace;background-color:#eee;padding:0.2em 0.5em;border-radius:4px;border:1px solid #ccc;display:inline-block;">#fn{{ element.sortOrder }}</span></div>
  <details>
    <summary style="cursor:pointer;">Instructions</summary>
    <div style="margin-block-start:0.5em;">
      <ol style="line-height:2;">
        <li>Copy the above Footnote URL to your clipboad</li>
        <li>Find the position in the article content you want to reference the footnote and type the corresponding footnote number how you want it to appear. Example: <span style="font-family:monospace;background-color:#eee;padding:0 0.5em;border-radius:4px;border:1px solid #ccc;vertical-align:super;display:inline-block;"><sup>{{ element.sortOrder }}</sup></span></li>
        <li>Highlight the text you just added and click on the link button in the rich text editor</li>
        <li>Paste the footnote URL into the field, and save</li>
      </ol>
    </div>
  </details>
</div>