@import 'tailwindcss';
@import './base/typography.css';
@import './components/skip-link.css';
@import './theme.css';

@layer base {
  body {
  }

  /* Remove animations and transitions for people who prefer not to see them */
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      background-attachment: initial !important;
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }
}
