// Variables first
@import "variables";

// Vendor
@import "normalize.css";
@import "sass-mq/mq";

// Utils
@import "util/visually-hidden";

// Base
@import "base/base";

// Objects
@import "objects/skip-link";

@font-face {
  font-family: "GT Flexa";
  src: url("/dist/fonts/GT Flexa VAR Trial.woff2");
}

body {
  font-family: "GT Flexa", serif;
}

.box {
  width: 24px;
  height: 24px;
  background-color: red;
  margin: 0 auto;
}
