{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Storybook plugin for Craft CMS 3.x
 *
 * Storybook index.twig
 *
 * @author    One Design Company
 * @copyright Copyright (c) 2022 One Design Company
 * @link      https://www.onedesigncompany.com/
 * @package   Storybook
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("onedesign\\storybook\\assetbundles\\storybook\\StorybookAsset") %}
{% do view.registerAssetBundle("onedesign\\storybook\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/onedesign/storybook/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Storybook" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('storybook') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@onedesign/storybook/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('storybook') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('storybook') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
