{#
 # =========================================================
 # Layout template
 # =========================================================
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance


{# --------------------------------------------------------- #}
{# Output
{# --------------------------------------------------------- #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include '_partials/head' %}
</head>

<body class="{{ bodyClass | default('') }}">
  <a class="skip-link" href="#main-content">Skip to content</a>

  <main id="main-content" tabindex="-1" role="main">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ rev('scripts/main.js') }}"></script>
</body>
</html>
