{# ================================================================== #}
{# Homepage
{# ================================================================== #}

{% extends "_layout" %}

{% block content %}
  <h1>Homepage</h1>
  <div data-module="Hello" data-module-options='{ "timeOfDay": "afternoon" }'></div>
{% endblock %}
