{# ================================================================== #}
{# Homepage
{# ================================================================== #}

{% extends "_layout" %}

{% block content %}
  <h1>Homepage</h1>
  <div data-component="Hello" data-component-options='{ "timeOfDay": "afternoon" }'></div>
{% endblock %}
